@use "./variables.scss" as *;

@mixin button {
    width: 10rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    border: 1px solid $mainColor;
    box-shadow: none;
    background-color: $mainColor;
    color: whitesmoke;
    font-size: 1.0625rem;
    cursor: pointer;
    transition: border-color 0.2s linear;

    &:hover {
        border-color: goldenrod;
    }
}
